In [228]:
import pandas_datareader.data as web
import math
import pandas as pd
import numpy as np
import datetime as dt
from scipy import stats
import yfinance as yf

In [289]:
#Testing yahoo finance api
stock = 'GE'
df_stock = web.DataReader(stock, 'yahoo', start='2020-06-01', end='2021-08-31')
df_stock = df_stock[['Adj Close']]
df_stock

             Adj Close
Date
2020-06-01   53.779770
2020-06-02   56.086891
2020-06-03   58.553120
2020-06-04   61.576241
2020-06-05   62.690029
...                ...
2021-08-25  104.699997
2021-08-26  103.379997
2021-08-27  106.089996
2021-08-30  105.190002
2021-08-31  105.410004

[317 rows x 1 columns]

In [91]:
df_stock.tail(60)

             Adj Close
Date
2021-06-08  111.115433
2021-06-09  109.756470
2021-06-10  108.957085
2021-06-11  109.436714
2021-06-14  107.678055
2021-06-15  108.237633
2021-06-16  107.438232
2021-06-17  103.920914
2021-06-18  102.162254
2021-06-21  105.439758
2021-06-22  104.160728
2021-06-23  103.521217
2021-06-24  105.120003
2021-06-25  105.279999
2021-06-28  103.120003
2021-06-29  104.720001
2021-06-30  107.680000
2021-07-01  107.839996
2021-07-02  106.879997
2021-07-06  103.360001
2021-07-07  103.839996
2021-07-08  102.959999
2021-07-09  105.279999
2021-07-12  104.879997
2021-07-13  103.120003
2021-07-14  102.480003
2021-07-15  102.080002
2021-07-16  100.400002
2021-07-19   96.000000
2021-07-20  101.599998
2021-07-21  104.639999
2021-07-22  101.599998
2021-07-23  101.680000
2021-07-26  103.360001
2021-07-27  104.639999
2021-07-28  105.040001
2021-07-29  106.320000
2021-07-30  103.599998
2021-08-02  100.599998
2021-08-03  103.059998
2021-08-04  102.910004
2021-08-05  103.019997
2021-08-06  104.519997
2021-08-09  103.709999
2021-08-10  106.080002
2021-08-11  106.040001
2021-08-12  106.519997
2021-08-13  104.919998
2021-08-16  103.349998
2021-08-17  101.620003
2021-08-18  101.410004
2021-08-19   99.419998
2021-08-20  100.050003
2021-08-23  100.970001
2021-08-24  103.269997
2021-08-25  104.699997
2021-08-26  103.379997
2021-08-27  106.089996
2021-08-30  105.190002
2021-08-31  105.410004

In [93]:
Price = df_stock.loc['2021-07-30'][0]

In [6]:
#convert to monthly returns #calculate all necessary features

In [48]:
new_df = pd.DataFrame()
new_df['Monthly returns_r'] = df_stock.asfreq('BM')['Adj Close'].pct_change()#'BM' - Business month end

In [59]:
new_df

            Monthly returns_r       1+r
Date
2020-06-30                NaN       NaN
2020-07-31          -0.111274  0.888726
2020-08-31           0.044481  1.044481
2020-09-30          -0.015726  0.984274
2020-10-30           0.191011  1.191011
2020-11-30           0.371968  1.371968
2020-12-31           0.061880  1.061880
2021-01-29          -0.011111  0.988889
2021-02-26           0.174157  1.174157
2021-03-31           0.047822  1.047822
2021-04-30          -0.000762  0.999238
2021-05-31           0.000000  1.000000
2021-06-30           0.026695  1.026695
2021-07-30          -0.037890  0.962110
2021-08-31           0.017471  1.017471

In [50]:
new_df['1+r'] = new_df['Monthly returns_r']+1

In [70]:
new_df.iloc[-1:,-1:].values[0]*new_df.iloc[-2:,-1:].values[0]*new_df.iloc[-3:,-1:].values[0]

array([1.0050517])

In [88]:
M1_return = new_df.iloc[-2:,-1:].values[0]
M1_return[0]

0.9621099385262671

In [76]:
M3_return = 1
for i in range(0,3):
    M3_return = M3_return*new_df.iloc[-(i+2):,-1:].values[0]
M3_return

array([0.98779386])

In [77]:
M6_return = 1
for i in range(0,6):
    M6_return = M6_return*new_df.iloc[-(i+2):,-1:].values[0]
M6_return

array([1.21436439])

In [78]:
M12_return = 1
for i in range(0,12):
    M12_return = M12_return*new_df.iloc[-(i+2):,-1:].values[0]
M12_return

array([2.14214157])

In [79]:
Next_M_return = new_df.iloc[-1:,-1:].values[0]
Next_M_return

array([1.01747109])

In [94]:

test_df = pd.DataFrame(columns=['Stock','Price', 'M1_return','M3_return','M6_return','M12_return'])

test_df.append({'Stock':stock, 'Price':Price,'M1_return':M1_return[0],'M3_return':M3_return[0],'M6_return':M6_return[0],'M12_return':M12_return[0]},ignore_index=True)

  Stock       Price  M1_return  M3_return  M6_return  M12_return
0    GE  103.599998    0.96211   0.987794   1.214364    2.142142

In [97]:
print(df_stock['Adj Close'].isna().sum())

0

In [288]:
stock_list = ["AAPL", "MSFT", "AMZN", "FB", "GOOGL", "GOOG", "TSLA", "NVDA", "BRK-B", "JPM", "JNJ", "UNH", "V", "PG", "HD", "PYPL", "DIS", "ADBE", "BAC", "MA", "CMCSA", "PFE", "NFLX", "CRM", "CSCO", "XOM", "VZ", "ABT", "TMO", "KO", "INTC", "PEP", "ACN", "DHR", "NKE", "LLY", "WMT", "COST", "AVGO", "ABBV", "T", "MRK", "CVX", "WFC", "MDT", "MCD", "TXN", "NEE", "PM", "LIN", "QCOM", "ORCL", "HON", "MS", "INTU", "C", "BMY", "LOW", "UNP", "UPS", "GS", "SBUX", "AMT", "BLK", "AMD", "NOW", "AMGN", "RTX", "ISRG", "IBM", "AMAT", "TGT", "BA", "MRNA", "DE", "GE", "CAT", "CVS", "CHTR", "MMM", "SCHW", "SPGI", "AXP", "PLD", "ZTS", "MO", "BKNG", "ANTM", "GILD", "SYK", "ADP", "LMT", "ADI", "MDLZ", "TJX", "LRCX", "CCI", "MU", "CB", "DUK", "PNC", "MMC", "EL", "TMUS", "FIS", "EQIX", "USB", "COP", "TFC", "EW", "CI", "CSX", "BDX", "SHW", "COF", "CME", "REGN", "SO", "FISV", "ILMN", "ICE", "ETN", "HCA", "CL", "ITW", "AON", "FDX", "BSX", "NSC", "D", "EMR", "ADSK", "ATVI", "GM", "MCO", "WM", "APD", "IDXX", "NXPI", "ECL", "PGR", "NOC", "A", "JCI", "HUM", "MSCI", "CMG", "DG", "FCX", "ALGN", "DXCM", "KLAC", "VRTX", "TWTR", "SNPS", "ROP", "F", "IQV", "BIIB", "PSA", "TROW", "TEL", "EBAY", "EXC", "LHX", "TT", "KMB", "AIG", "CARR", "DLR", "NEM", "GPN", "DOW", "GD", "CDNS", "APH", "MET", "INFO", "AEP", "SPG", "BK", "RMD", "MCHP", "FTNT", "SRE", "ROST", "EA", "MSI", "PRU", "CTSH", "APTV", "BAX", "ORLY", "TRV", "ALL", "SBAC", "SLB", "SYY", "EOG", "DD"]

In [169]:
all_stock_data = pd.DataFrame(columns=['Stock','Price', 'M1_return','M3_return','M6_return','M12_return','Next_1M_return'])


for stock in stock_list:
    print('\n',stock)
    try:
        df_stock = web.DataReader(stock, 'yahoo', start='2020-06-01', end='2021-08-31')
        df_stock = df_stock[['Adj Close']]
    except :
        print('no data found')
        continue
    print('df_stock.shape',df_stock.shape)
    print('null values- ',df_stock['Adj Close'].isna().sum())
    Price = df_stock.loc['2021-07-30'][0]
    new_df = pd.DataFrame()
    new_df['Monthly returns_r'] = df_stock.asfreq('BM')['Adj Close'].pct_change()#'BM' - Business month end
    new_df['1+r'] = new_df['Monthly returns_r']+1
    M1_return = new_df.iloc[-2:,-1:].values[0] - 1
    M3_return = 1
    for i in range(0,3):
        M3_return = M3_return*new_df.iloc[-(i+2):,-1:].values[0]
    M3_return = M3_return-1
    M6_return = 1
    for i in range(0,6):
        M6_return = M6_return*new_df.iloc[-(i+2):,-1:].values[0]
    M6_return = M6_return-1
    M12_return = 1
    for i in range(0,12):
        M12_return = M12_return*new_df.iloc[-(i+2):,-1:].values[0]
    M12_return = M12_return-1
    Next_1M_return = new_df.iloc[-1:,-1:].values[0]
    Next_1M_return = Next_1M_return -1
    all_stock_data = all_stock_data.append({'Stock':stock, 'Price':Price,'M1_return':M1_return[0],'M3_return':M3_return[0],'M6_return':M6_return[0],'M12_return':M12_return[0],'Next_1M_return':Next_1M_return[0]},ignore_index=True)

 AAPL
df_stock.shape (317, 1)
null values-  0

 MSFT
df_stock.shape (317, 1)
null values-  0

 AMZN
df_stock.shape (317, 1)
null values-  0

 FB
df_stock.shape (317, 1)
null values-  0

 GOOGL
df_stock.shape (317, 1)
null values-  0

 GOOG
df_stock.shape (317, 1)
null values-  0

 TSLA
df_stock.shape (317, 1)
null values-  0

 NVDA
df_stock.shape (317, 1)
null values-  0

 BRK-B
df_stock.shape (317, 1)
null values-  0

 JPM
df_stock.shape (317, 1)
null values-  0

 JNJ
df_stock.shape (317, 1)
null values-  0

 UNH
df_stock.shape (317, 1)
null values-  0

 V
df_stock.shape (317, 1)
null values-  0

 PG
df_stock.shape (317, 1)
null values-  0

 HD
df_stock.shape (317, 1)
null values-  0

 PYPL
df_stock.shape (317, 1)
null values-  0

 DIS
df_stock.shape (317, 1)
null values-  0

 ADBE
df_stock.shape (317, 1)
null values-  0

 BAC
df_stock.shape (317, 1)
null values-  0

 MA
df_stock.shape (317, 1)
null values-  0

 CMCSA
df_stock.shape (317, 1)
null values-  0

 PFE
df_stock.shape (317, 1)
null values-  0

 NFLX
df_stock.shape (317, 1)
null values-  0

 CRM
df_stock.shape (317, 1)
null values-  0

 CSCO
df_stock.shape (317, 1)
null values-  0

 XOM
df_stock.shape (317, 1)
null values-  0

 VZ
df_stock.shape (317, 1)
null values-  0

 ABT
df_stock.shape (317, 1)
null values-  0

 TMO
df_stock.shape (317, 1)
null values-  0

 KO
df_stock.shape (317, 1)
null values-  0

 INTC
df_stock.shape (317, 1)
null values-  0

 PEP
df_stock.shape (317, 1)
null values-  0

 ACN
df_stock.shape (317, 1)
null values-  0

 DHR
df_stock.shape (317, 1)
null values-  0

 NKE
df_stock.shape (317, 1)
null values-  0

 LLY
df_stock.shape (317, 1)
null values-  0

 WMT
df_stock.shape (317, 1)
null values-  0

 COST
df_stock.shape (317, 1)
null values-  0

 AVGO
df_stock.shape (317, 1)
null values-  0

 ABBV
df_stock.shape (317, 1)
null values-  0

 T
df_stock.shape (317, 1)
null values-  0

 MRK
df_stock.shape (317, 1)
null values-  0

 CVX
df_stock.shape (317, 1)
null values-  0

 WFC
df_stock.shape (317, 1)
null values-  0

 MDT
df_stock.shape (316, 1)
null values-  0

 MCD
df_stock.shape (317, 1)
null values-  0

 TXN
df_stock.shape (316, 1)
null values-  0

 NEE
df_stock.shape (317, 1)
null values-  0

 PM
df_stock.shape (316, 1)
null values-  0

 LIN
df_stock.shape (316, 1)
null values-  0

 QCOM
df_stock.shape (317, 1)
null values-  0

 ORCL
df_stock.shape (317, 1)
null values-  0

 HON
df_stock.shape (317, 1)
null values-  0

 MS
df_stock.shape (317, 1)
null values-  0

 INTU
df_stock.shape (316, 1)
null values-  0

 C
df_stock.shape (317, 1)
null values-  0

 BMY
df_stock.shape (317, 1)
null values-  0

 LOW
df_stock.shape (317, 1)
null values-  0

 UNP
df_stock.shape (316, 1)
null values-  0

 UPS
df_stock.shape (317, 1)
null values-  0

 GS
df_stock.shape (317, 1)
null values-  0

 SBUX
df_stock.shape (317, 1)
null values-  0

 AMT
df_stock.shape (316, 1)
null values-  0

 BLK
df_stock.shape (317, 1)
null values-  0

 AMD
df_stock.shape (317, 1)
null values-  0

 NOW
df_stock.shape (317, 1)
null values-  0

 AMGN
df_stock.shape (317, 1)
null values-  0

 RTX
df_stock.shape (317, 1)
null values-  0

 ISRG
df_stock.shape (316, 1)
null values-  0

 IBM
df_stock.shape (317, 1)
null values-  0

 AMAT
df_stock.shape (317, 1)
null values-  0

 TGT
df_stock.shape (317, 1)
null values-  0

 BA
df_stock.shape (317, 1)
null values-  0

 MRNA
df_stock.shape (317, 1)
null values-  0

 DE
df_stock.shape (317, 1)
null values-  0

 GE
df_stock.shape (317, 1)
null values-  0

 CAT
df_stock.shape (317, 1)
null values-  0

 CVS
df_stock.shape (317, 1)
null values-  0

 CHTR
df_stock.shape (317, 1)
null values-  0

 MMM
df_stock.shape (316, 1)
null values-  0

 SCHW
df_stock.shape (316, 1)
null values-  0

 SPGI
df_stock.shape (316, 1)
null values-  0

 AXP
df_stock.shape (317, 1)
null values-  0

 PLD
df_stock.shape (316, 1)
null values-  0

 ZTS
df_stock.shape (316, 1)
null values-  0

 MO
df_stock.shape (317, 1)
null values-  0

 BKNG
df_stock.shape (316, 1)
null values-  0

 ANTM
df_stock.shape (317, 1)
null values-  0

 GILD
df_stock.shape (316, 1)
null values-  0

 SYK
df_stock.shape (316, 1)
null values-  0

 ADP
df_stock.shape (316, 1)
null values-  0

 LMT
df_stock.shape (317, 1)
null values-  0

 ADI
df_stock.shape (317, 1)
null values-  0

 MDLZ
df_stock.shape (316, 1)
null values-  0

 TJX
df_stock.shape (316, 1)
null values-  0

 LRCX
df_stock.shape (317, 1)
null values-  0

 CCI
df_stock.shape (317, 1)
null values-  0

 MU
df_stock.shape (317, 1)
null values-  0

 CB
df_stock.shape (316, 1)
null values-  0

 DUK
df_stock.shape (316, 1)
null values-  0

 PNC
df_stock.shape (316, 1)
null values-  0

 MMC
df_stock.shape (317, 1)
null values-  0

 EL
df_stock.shape (316, 1)
null values-  0

 TMUS
df_stock.shape (317, 1)
null values-  0

 FIS
df_stock.shape (316, 1)
null values-  0

 EQIX
df_stock.shape (317, 1)
null values-  0

 USB
df_stock.shape (317, 1)
null values-  0

 COP
df_stock.shape (317, 1)
null values-  0

 TFC
df_stock.shape (316, 1)
null values-  0

 EW
df_stock.shape (317, 1)
null values-  0

 CI
df_stock.shape (317, 1)
null values-  0

 CSX
df_stock.shape (316, 1)
null values-  0

 BDX
df_stock.shape (316, 1)
null values-  0

 SHW
df_stock.shape (316, 1)
null values-  0

 COF
df_stock.shape (317, 1)
null values-  0

 CME
df_stock.shape (317, 1)
null values-  0

 REGN
df_stock.shape (317, 1)
null values-  0

 SO
df_stock.shape (316, 1)
null values-  0

 FISV
df_stock.shape (317, 1)
null values-  0

 ILMN
df_stock.shape (316, 1)
null values-  0

 ICE
df_stock.shape (316, 1)
null values-  0

 ETN
df_stock.shape (317, 1)
null values-  0

 HCA
df_stock.shape (317, 1)
null values-  0

 CL
df_stock.shape (317, 1)
null values-  0

 ITW
df_stock.shape (316, 1)
null values-  0

 AON
df_stock.shape (316, 1)
null values-  0

 FDX
df_stock.shape (317, 1)
null values-  0

 BSX
df_stock.shape (317, 1)
null values-  0

 NSC
df_stock.shape (317, 1)
null values-  0

 D
df_stock.shape (316, 1)
null values-  0

 EMR
df_stock.shape (316, 1)
null values-  0

 ADSK
df_stock.shape (316, 1)
null values-  0

 ATVI
df_stock.shape (317, 1)
null values-  0

 GM
df_stock.shape (317, 1)
null values-  0

 MCO
df_stock.shape (317, 1)
null values-  0

 WM
df_stock.shape (317, 1)
null values-  0

 APD
df_stock.shape (317, 1)
null values-  0

 IDXX
df_stock.shape (317, 1)
null values-  0

 NXPI
df_stock.shape (317, 1)
null values-  0

 ECL
df_stock.shape (317, 1)
null values-  0

 PGR
df_stock.shape (316, 1)
null values-  0

 NOC
df_stock.shape (316, 1)
null values-  0

 A
df_stock.shape (316, 1)
null values-  0

 JCI
df_stock.shape (317, 1)
null values-  0

 HUM
df_stock.shape (317, 1)
null values-  0

 MSCI
df_stock.shape (316, 1)
null values-  0

 CMG
df_stock.shape (317, 1)
null values-  0

 DG
df_stock.shape (317, 1)
null values-  0

 FCX
df_stock.shape (317, 1)
null values-  0

 ALGN
df_stock.shape (317, 1)
null values-  0

 DXCM
df_stock.shape (317, 1)
null values-  0

 KLAC
df_stock.shape (317, 1)
null values-  0

 VRTX
df_stock.shape (317, 1)
null values-  0

 TWTR
df_stock.shape (317, 1)
null values-  0

 SNPS
df_stock.shape (317, 1)
null values-  0

 ROP
df_stock.shape (317, 1)
null values-  0

 F
df_stock.shape (317, 1)
null values-  0

 IQV
df_stock.shape (316, 1)
null values-  0

 BIIB
df_stock.shape (316, 1)
null values-  0

 PSA
df_stock.shape (317, 1)
null values-  0

 TROW
df_stock.shape (316, 1)
null values-  0

 TEL
df_stock.shape (316, 1)
null values-  0

 EBAY
df_stock.shape (317, 1)
null values-  0

 EXC
df_stock.shape (316, 1)
null values-  0

 LHX
df_stock.shape (317, 1)
null values-  0

 TT
df_stock.shape (317, 1)
null values-  0

 KMB
df_stock.shape (317, 1)
null values-  0

 AIG
df_stock.shape (317, 1)
null values-  0

 CARR
df_stock.shape (317, 1)
null values-  0

 DLR
df_stock.shape (317, 1)
null values-  0

 NEM
df_stock.shape (316, 1)
null values-  0

 GPN
df_stock.shape (317, 1)
null values-  0

 DOW
df_stock.shape (317, 1)
null values-  0

 GD
df_stock.shape (317, 1)
null values-  0

 CDNS
df_stock.shape (317, 1)
null values-  0

 APH
df_stock.shape (317, 1)
null values-  0

 MET
df_stock.shape (317, 1)
null values-  0

 INFO
df_stock.shape (316, 1)
null values-  0

 AEP

df_stock.shape (317, 1)
null values-  0

 SPG
df_stock.shape (317, 1)
null values-  0

 BK
df_stock.shape (316, 1)
null values-  0

 RMD
df_stock.shape (316, 1)
null values-  0

 MCHP
df_stock.shape (316, 1)
null values-  0

 FTNT
df_stock.shape (317, 1)
null values-  0

 SRE
df_stock.shape (317, 1)
null values-  0

 ROST
df_stock.shape (317, 1)
null values-  0

 EA
df_stock.shape (317, 1)
null values-  0

 MSI
df_stock.shape (316, 1)
null values-  0

 PRU
df_stock.shape (317, 1)
null values-  0

 CTSH
df_stock.shape (316, 1)
null values-  0

 APTV
df_stock.shape (317, 1)
null values-  0

 BAX
df_stock.shape (317, 1)
null values-  0

 ORLY
df_stock.shape (317, 1)
null values-  0

 TRV
df_stock.shape (316, 1)
null values-  0

 ALL
df_stock.shape (317, 1)
null values-  0

 SBAC
df_stock.shape (317, 1)
null values-  0

 SLB
df_stock.shape (317, 1)
null values-  0

 SYY
df_stock.shape (317, 1)
null values-  0

 EOG
df_stock.shape (316, 1)
null values-  0

 DD
df_stock.shape (317, 1)
null values-  0

In [170]:
all_stock_data

,Stock,Price,M1_return,M3_return,M6_return,M12_return,Next_1M_return
0,AAPL,145.641785,0.064982,0.111424,0.108867,0.381920,0.042489
1,MSFT,284.365601,0.051716,0.132397,0.233944,0.403193,0.061591
2,AMZN,3327.590088,-0.032722,-0.040327,0.037861,0.051478,0.043034
3,FB,356.299988,0.024704,0.096038,0.379244,0.404581,0.064777
4,GOOGL,2694.530029,0.103506,0.144903,0.474548,0.810901,0.074009
...,...,...,...,...,...,...,...
195,SBAC,340.989990,0.069940,0.139965,0.274754,0.102732,0.052729
196,SLB,28.702568,-0.099344,0.070074,0.309378,0.623531,-0.023084
197,SYY,74.199997,-0.039855,-0.118951,0.049841,0.439385,0.073450
198,EOG,72.860001,-0.111029,0.007275,0.463714,0.618186,-0.073291
199,DD,75.050003,-0.026554,-0.019245,-0.044019,0.426804,-0.013724

In [171]:
freq_list = [1,3,6,12]
for row in all_stock_data.index:
    for freq in freq_list:
        all_stock_data.loc[row, f'M{freq}_return_Percentile'] = stats.percentileofscore(all_stock_data[f'M{freq}_return'], all_stock_data.loc[row, f'M{freq}_return'])/100

In [172]:
all_stock_data

,Stock,Price,M1_return,M3_return,M6_return,M12_return,Next_1M_return,M1_return_Percentile,M3_return_Percentile,M6_return_Percentile,M12_return_Percentile
0,AAPL,145.641785,0.064982,0.111424,0.108867,0.381920,0.042489,0.785,0.730,0.240,0.525
1,MSFT,284.365601,0.051716,0.132397,0.233944,0.403193,0.061591,0.670,0.785,0.555,0.555
2,AMZN,3327.590088,-0.032722,-0.040327,0.037861,0.051478,0.043034,0.135,0.140,0.095,0.100
3,FB,356.299988,0.024704,0.096038,0.379244,0.404581,0.064777,0.490,0.675,0.850,0.560
4,GOOGL,2694.530029,0.103506,0.144903,0.474548,0.810901,0.074009,0.940,0.800,0.960,0.870
...,...,...,...,...,...,...,...,...,...,...,...
195,SBAC,340.989990,0.069940,0.139965,0.274754,0.102732,0.052729,0.820,0.790,0.650,0.140
196,SLB,28.702568,-0.099344,0.070074,0.309378,0.623531,-0.023084,0.015,0.570,0.725,0.790
197,SYY,74.199997,-0.039855,-0.118951,0.049841,0.439385,0.073450,0.090,0.005,0.120,0.615
198,EOG,72.860001,-0.111029,0.007275,0.463714,0.618186,-0.073291,0.010,0.290,0.945,0.785
199,DD,75.050003,-0.026554,-0.019245,-0.044019,0.426804,-0.013724,0.170,0.200,0.025,0.595

In [173]:
all_stock_data['Momentum_factor'] = all_stock_data[['M1_return_Percentile','M3_return_Percentile','M6_return_Percentile','M12_return_Percentile']].mean(axis=1)

In [174]:
all_stock_data

,Stock,Price,M1_return,M3_return,M6_return,M12_return,Next_1M_return,M1_return_Percentile,M3_return_Percentile,M6_return_Percentile,M12_return_Percentile,Momentum_factor
0,AAPL,145.641785,0.064982,0.111424,0.108867,0.381920,0.042489,0.785,0.730,0.240,0.525,0.57000
1,MSFT,284.365601,0.051716,0.132397,0.233944,0.403193,0.061591,0.670,0.785,0.555,0.555,0.64125
2,AMZN,3327.590088,-0.032722,-0.040327,0.037861,0.051478,0.043034,0.135,0.140,0.095,0.100,0.11750
3,FB,356.299988,0.024704,0.096038,0.379244,0.404581,0.064777,0.490,0.675,0.850,0.560,0.64375
4,GOOGL,2694.530029,0.103506,0.144903,0.474548,0.810901,0.074009,0.940,0.800,0.960,0.870,0.89250
...,...,...,...,...,...,...,...,...,...,...,...,...
195,SBAC,340.989990,0.069940,0.139965,0.274754,0.102732,0.052729,0.820,0.790,0.650,0.140,0.60000
196,SLB,28.702568,-0.099344,0.070074,0.309378,0.623531,-0.023084,0.015,0.570,0.725,0.790,0.52500
197,SYY,74.199997,-0.039855,-0.118951,0.049841,0.439385,0.073450,0.090,0.005,0.120,0.615,0.20750
198,EOG,72.860001,-0.111029,0.007275,0.463714,0.618186,-0.073291,0.010,0.290,0.945,0.785,0.50750
199,DD,75.050003,-0.026554,-0.019245,-0.044019,0.426804,-0.013724,0.170,0.200,0.025,0.595,0.24750

In [175]:
all_stock_data.sort_values(by=['Momentum_factor'],ascending=False).head(20)

,Stock,Price,M1_return,M3_return,M6_return,M12_return,Next_1M_return,M1_return_Percentile,M3_return_Percentile,M6_return_Percentile,M12_return_Percentile,Momentum_factor
73,MRNA,353.600006,0.504809,0.977407,1.042042,3.771930,0.065300,1.000,1.000,1.000,1.000,1.00000
183,FTNT,272.239990,0.142953,0.333007,0.880760,0.968474,0.157582,0.980,0.980,0.995,0.915,0.96750
122,HCA,248.199997,0.200542,0.237315,0.534949,0.973661,0.019259,0.985,0.930,0.980,0.920,0.95375
168,CARR,55.250000,0.136831,0.271091,0.442731,1.050400,0.042534,0.970,0.960,0.915,0.925,0.94250
71,TGT,260.157166,0.079879,0.263620,0.450746,1.106949,-0.050651,0.875,0.950,0.930,0.940,0.92375
54,INTU,529.969971,0.082458,0.287336,0.470948,0.740189,0.068193,0.885,0.965,0.950,0.850,0.91250
165,TT,203.002914,0.105735,0.175062,0.430269,0.847499,-0.025097,0.945,0.880,0.905,0.885,0.90375
145,MSCI,594.968262,0.117956,0.228919,0.512860,0.597242,0.066578,0.955,0.920,0.975,0.750,0.90000
149,ALGN,695.799988,0.138789,0.168371,0.324375,1.368116,0.018971,0.975,0.860,0.760,0.980,0.89375
4,GOOGL,2694.530029,0.103506,0.144903,0.474548,0.810901,0.074009,0.940,0.800,0.960,0.870,0.89250
137,IDXX,678.530029,0.074388,0.235961,0.417502,0.705921,-0.007030,0.845,0.925,0.885,0.830,0.87125
51,ORCL,87.139999,0.123605,0.153997,0.453580,0.596628,0.022837,0.960,0.830,0.940,0.745,0.86875
5,GOOG,2704.419922,0.079040,0.122110,0.473204,0.823663,0.075735,0.865,0.770,0.955,0.875,0.86625
53,MS,95.980003,0.054471,0.171223,0.448102,1.154436,0.088039,0.695,0.865,0.925,0.965,0.86250
146,CMG,1863.439941,0.201956,0.248929,0.259081,0.613144,0.021407,0.990,0.935,0.625,0.765,0.82875
34,NKE,167.234024,0.084277,0.265631,0.258996,0.730365,-0.014913,0.895,0.955,0.620,0.840,0.82750
121,ETN,157.330338,0.066608,0.111666,0.357289,0.739666,0.070105,0.805,0.735,0.830,0.845,0.80375
114,COF,160.510956,0.045316,0.087436,0.560210,1.556915,0.034010,0.605,0.630,0.990,0.990,0.80375
109,EW,112.269997,0.084001,0.175356,0.359530,0.431833,0.043734,0.890,0.885,0.840,0.600,0.80375
143,JCI,71.419998,0.040653,0.150364,0.445801,0.894447,0.047326,0.570,0.820,0.920,0.895,0.80125

In [144]:
#WIP - Number of shares to buy

In [277]:
test_df = pd.DataFrame()
test_df = all_stock_data[['Stock','Price','Momentum_factor','Next_1M_return']]

In [278]:
total_stocks_for_portfolio = 25
test_df = test_df.sort_values(by='Momentum_factor',ascending=False)
test_df = test_df.iloc[0:total_stocks_for_portfolio,:]

In [279]:
test_df['Momentum Rank'] = np.arange(1,total_stocks_for_portfolio+1)
test_df

     Stock        Price  Momentum_factor  Next_1M_return  Momentum Rank
73    MRNA   353.600006          1.00000        0.065300              1
183   FTNT   272.239990          0.96750        0.157582              2
122    HCA   248.199997          0.95375        0.019259              3
168   CARR    55.250000          0.94250        0.042534              4
71     TGT   260.157166          0.92375       -0.050651              5
54    INTU   529.969971          0.91250        0.068193              6
165     TT   203.002914          0.90375       -0.025097              7
145   MSCI   594.968262          0.90000        0.066578              8
149   ALGN   695.799988          0.89375        0.018971              9
4    GOOGL  2694.530029          0.89250        0.074009             10
137   IDXX   678.530029          0.87125       -0.007030             11
51    ORCL    87.139999          0.86875        0.022837             12
5     GOOG  2704.419922          0.86625        0.075735             13
53      MS    95.980003          0.86250        0.088039             14
146    CMG  1863.439941          0.82875        0.021407             15
34     NKE   167.234024          0.82750       -0.014913             16
121    ETN   157.330338          0.80375        0.070105             17
114    COF   160.510956          0.80375        0.034010             18
109     EW   112.269997          0.80375        0.043734             19
143    JCI    71.419998          0.80125        0.047326             20
181    RMD   271.393158          0.79750        0.070513             21
82     AXP   170.529999          0.78500       -0.026799             22
153   TWTR    69.750000          0.78250       -0.075269             23
190   APTV   166.850006          0.77875       -0.087863             24
68    ISRG   991.460022          0.76750        0.062635             25

In [280]:
test_df['Weight'] = 1/total_stocks_for_portfolio
available_capital = 250000
test_df['Number of shares'] =np.floor((available_capital*test_df['Weight'])/test_df['Price'])

In [282]:
test_df['Capital Allocated'] = test_df['Number of shares']*test_df['Price']

In [283]:
#todo - modify - while loop to iteratively allocate
#capital balance allocation
balance = available_capital-test_df['Capital Allocated'].sum()
print('initial balance',balance)
# all_pass = False
for j in range (0,3):
    for i in test_df.index:
        if balance >= 100:
    #          print(test_df.at[i,'Price'])
    #         print(test_df.at[i,'Number of shares'])
            if test_df.at[i,'Price'] <= balance :
                balance = balance - test_df.at[i,'Price']
                test_df.at[i,'Number of shares'] = test_df.at[i,'Number of shares']+1
        else:
            break

print('final balance',balance)

initial balance 7747.9218826293945
final balance 38.395057678222656

In [284]:
test_df

,Stock,Price,Momentum_factor,Next_1M_return,Momentum Rank,Weight,Number of shares,Capital Allocated
73,MRNA,353.600006,1.00000,0.065300,1,0.04,29.0,9900.800171
183,FTNT,272.239990,0.96750,0.157582,2,0.04,37.0,9800.639648
122,HCA,248.199997,0.95375,0.019259,3,0.04,41.0,9927.999878
168,CARR,55.250000,0.94250,0.042534,4,0.04,181.0,9945.000000
71,TGT,260.157166,0.92375,-0.050651,5,0.04,39.0,9885.972290
54,INTU,529.969971,0.91250,0.068193,6,0.04,19.0,9539.459473
165,TT,203.002914,0.90375,-0.025097,7,0.04,50.0,9947.142807
145,MSCI,594.968262,0.90000,0.066578,8,0.04,17.0,9519.492188
149,ALGN,695.799988,0.89375,0.018971,9,0.04,15.0,9741.199829
4,GOOGL,2694.530029,0.89250,0.074009,10,0.04,4.0,8083.590088
137,IDXX,678.530029,0.87125,-0.007030,11,0.04,15.0,9499.420410
51,ORCL,87.139999,0.86875,0.022837,12,0.04,115.0,9933.959930
5,GOOG,2704.419922,0.86625,0.075735,13,0.04,3.0,8113.259766
53,MS,95.980003,0.86250,0.088039,14,0.04,105.0,9981.920349
146,CMG,1863.439941,0.82875,0.021407,15,0.04,5.0,9317.199707
34,NKE,167.234024,0.82750,-0.014913,16,0.04,60.0,9866.807419
121,ETN,157.330338,0.80375,0.070105,17,0.04,64.0,9911.811264
114,COF,160.510956,0.80375,0.034010,18,0.04,63.0,9951.679260
109,EW,112.269997,0.80375,0.043734,19,0.04,90.0,9992.029701
143,JCI,71.419998,0.80125,0.047326,20,0.04,141.0,9998.799744
181,RMD,271.393158,0.79750,0.070513,21,0.04,37.0,9770.153687
82,AXP,170.529999,0.78500,-0.026799,22,0.04,58.0,9890.739929
153,TWTR,69.750000,0.78250,-0.075269,23,0.04,143.0,9974.250000
190,APTV,166.850006,0.77875,-0.087863,24,0.04,59.0,9844.150360
68,ISRG,991.460022,0.76750,0.062635,25,0.04,10.0,9914.600220

In [275]:
test_df['Capital Allocated'] = test_df['Number of shares']*test_df['Price']
test_df['Next Month Return'] = test_df['Capital Allocated']*(test_df['Next_1M_return'])

In [267]:
print(test_df['Next Month Return'].sum())
print(test_df['Capital Allocated'].sum())

3100.0110702514644
99975.18260192871

In [268]:
test_df['Next Month Return'].sum()/test_df['Capital Allocated'].sum()

0.03100780603317107

In [252]:
for i in test_df.index:
    print(test_df.at[i,'Stock'])
    ticker = test_df.at[i,'Stock']
    test_df.at[i,'Stock Name']=yf.Ticker(ticker).info['shortName']

MRNA
FTNT
HCA
CARR
TGT
INTU
TT
MSCI
ALGN
GOOGL
IDXX
ORCL
GOOG
MS
CMG
NKE
ETN
COF
EW
JCI
RMD
AXP
TWTR
APTV
ISRG

In [269]:
test_df

,Stock,Price,Momentum_factor,Next_1M_return,Momentum Rank,Weight,Number of shares,Capital Allocated,Next Month Return,Stock Name
73,MRNA,353.600006,1.00000,0.065300,1,0.04,12.0,4243.200073,277.079956,"Moderna, Inc."
183,FTNT,272.239990,0.96750,0.157582,2,0.04,15.0,4083.599854,643.500366,"Fortinet, Inc."
122,HCA,248.199997,0.95375,0.019259,3,0.04,17.0,4219.399948,81.259979,"HCA Healthcare, Inc."
168,CARR,55.250000,0.94250,0.042534,4,0.04,73.0,4033.250000,171.549889,Carrier Global Corporation
71,TGT,260.157166,0.92375,-0.050651,5,0.04,16.0,4162.514648,-210.834717,Target Corporation
54,INTU,529.969971,0.91250,0.068193,6,0.04,8.0,4239.759766,289.120117,Intuit Inc.
165,TT,203.002914,0.90375,-0.025097,7,0.04,20.0,4060.058289,-101.895142,Trane Technologies plc
145,MSCI,594.968262,0.90000,0.066578,8,0.04,7.0,4164.777832,277.282288,MSCI Inc
149,ALGN,695.799988,0.89375,0.018971,9,0.04,6.0,4174.799927,79.200073,"Align Technology, Inc."
4,GOOGL,2694.530029,0.89250,0.074009,10,0.04,2.0,5389.060059,398.839844,Alphabet Inc.
137,IDXX,678.530029,0.87125,-0.007030,11,0.04,5.0,3392.650146,-23.850098,"IDEXX Laboratories, Inc."
51,ORCL,87.139999,0.86875,0.022837,12,0.04,46.0,4008.439972,91.539902,Oracle Corporation
5,GOOG,2704.419922,0.86625,0.075735,13,0.04,1.0,2704.419922,204.820068,Alphabet Inc.
53,MS,95.980003,0.86250,0.088039,14,0.04,42.0,4031.160141,354.899872,Morgan Stanley
146,CMG,1863.439941,0.82875,0.021407,15,0.04,2.0,3726.879883,79.780029,"Chipotle Mexican Grill, Inc."
34,NKE,167.234024,0.82750,-0.014913,16,0.04,24.0,4013.616577,-59.856445,"Nike, Inc."
121,ETN,157.330338,0.80375,0.070105,17,0.04,25.0,3933.258438,275.741577,"Eaton Corporation, PLC"
114,COF,160.510956,0.80375,0.034010,18,0.04,24.0,3852.262939,131.017090,Capital One Financial Corporati
109,EW,112.269997,0.80375,0.043734,19,0.04,36.0,4041.719879,176.760132,Edwards Lifesciences Corporatio
143,JCI,71.419998,0.80125,0.047326,20,0.04,56.0,3999.519897,189.280273,Johnson Controls International
181,RMD,271.393158,0.79750,0.070513,21,0.04,14.0,3799.504211,267.915771,ResMed Inc.
82,AXP,170.529999,0.78500,-0.026799,22,0.04,23.0,3922.189972,-105.109818,American Express Company
153,TWTR,69.750000,0.78250,-0.075269,23,0.04,57.0,3975.750000,-299.250000,"Twitter, Inc."
190,APTV,166.850006,0.77875,-0.087863,24,0.04,23.0,3837.550140,-337.180084,Aptiv PLC
68,ISRG,991.460022,0.76750,0.062635,25,0.04,4.0,3965.840088,248.400146,"Intuitive Surgical, Inc."

In [270]:

test_df.to_json('output.json',orient="index")

In [271]:
test_df['Price'].sum()

13675.97671508789